* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
#header_box {
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header_box .header_box_ul1 {
  display: flex;
  margin-left: 5.1vw;
}
#header_box .header_box_ul1 li {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}
#header_box .header_box_CN_EN {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  display: flex;
}
#header_box .header_box_CN_EN div {
  margin-left: 0.5vw;
}
#information img {
  width: 100%;
  height: auto;
}
#products_detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 675px;
  margin-top: 65px;
}
#products_detail .products_left .products_left_top {
  width: 200px;
  height: 340px;
  border: 1px solid #01a1ff;
}
#products_detail .products_left .products_left_top .PRODUCITON_box {
  background-color: #01a1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 110px;
  width: 200px;
}
#products_detail .products_left .products_left_top .PRODUCITON_box .produ_text1 {
  font-size: 18px;
  color: #ffffff;
}
#products_detail .products_left .products_left_top .PRODUCITON_box .produ_text2 {
  color: #ffffff;
}
#products_detail .products_left .products_left_top .PRODUCITON_botton {
  width: 200px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#products_detail .products_left .products_left_top .PRODUCITON_botton div {
  width: 90px;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#products_detail .products_left .products_left_top .PRODUCITON_botton .box_5 {
  background-color: #01a1ff;
  border-radius: 25px;
  padding: 0px 20px;
}
#products_detail .products_left .products_left_botton {
  height: 165px;
  width: 200px;
  margin-top: 40px;
  border: 1px solid #01a1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#products_detail .products_left .products_left_botton .product_top {
  background-color: #01a1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 110px;
  width: 200px;
}
#products_detail .products_left .products_left_botton .product_top .produ_text1 {
  font-size: 18px;
  color: #ffffff;
}
#products_detail .products_left .products_left_botton .product_top .produ_text2 {
  color: #ffffff;
}
#products_detail .products_left .products_left_botton .produ_input_box {
  margin-top: 6%;
  display: flex;
}
#products_detail .products_left .products_left_botton .produ_input_box .produ_input_div1 {
  display: flex;
  padding: 5px 5px;
  border: 1px solid #cccccc;
}
#products_detail .products_left .products_left_botton .produ_input_box .produ_input_div1 input {
  border: none;
  outline: none;
}
#products_detail .products_right {
  margin-left: 65px;
}
#products_detail .products_right .products_right_top_box {
  border-bottom: 1px solid #d3d3d3;
  width: 950px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}
#products_detail .products_right .products_right_top_box .products_right_top_text1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#products_detail .products_right .products_right_top_box .products_right_top_text1 div {
  font-size: 25px;
}
#products_detail .products_right .produc_right_right_box {
  display: flex;
  margin-top: 65px;
}
#products_detail .products_right .produc_right_right_box .produc_right_center_box {
  width: 482px;
  height: 100px;
  margin-left: 60px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#products_detail .products_right .produc_right_right_box .produc_right_center_box .produc_r_box {
  display: flex;
  flex-direction: column;
}
#products_detail .products_right .produc_right_right_box .produc_right_center_box .produc_r_box .produc_right_center_text1 {
  font-size: 25px;
}
#products_detail .products_right .produc_right_right_box .produc_right_center_box .produc_r_box .produc_right_center_text2 {
  margin-top: 10px;
  color: red;
}
#products_detail .products_right .produc_right_right_box .produc_right_center_substance {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
#products_detail .products_right .produc_right_right_box .produc_right_center_substance .text1 {
  display: flex;
}
#products_detail .products_right .produc_right_right_box .produc_right_center_substance .text1 .text1_text1 {
  display: flex;
}
#products_detail .products_right .produc_right_right_box .produc_right_center_substance .text1 .text1_text2 {
  width: 400px;
  height: 50px;
}
.footer {
  height: 320px;
  background-color: #01A1FF;
  color: white;
}
.footer .fheader {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .fheader .fhleft {
  display: flex;
  justify-content: center;
}
.footer .fheader .fhleft div {
  margin-left: 90px;
}
.footer .fheader .fhleft div h3 {
  color: #99D9FF;
  border-bottom: 3px solid #99D9FF;
  padding-bottom: 6px;
}
.footer .fheader .fhleft div p {
  font-size: 14px;
}
.footer .fheader .fhright {
  margin-left: 110px;
}
.footer .fheader .fhright .fhrheader {
  display: flex;
}
.footer .fheader .fhright .fhrheader input {
  width: 145px;
  height: 32px;
  border: 1px solid white;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #01A1FF;
}
.footer .fheader .fhright input::placeholder {
  color: white;
}
.footer .fheader .fhright textarea::placeholder {
  color: white;
  font-size: 14px;
}
.footer .fheader .fhright input {
  outline: none;
}
.footer .fheader .fhright input:focus {
  border: 1px solid white;
}
.footer .fheader .fhright textarea {
  outline: none;
}
.footer .fheader .fhright textarea:focus {
  border: 1px solid white;
}
.footer .fheader .fhright .fhrcenter textarea {
  width: 310px;
  height: 105px;
  background-color: #01A1FF;
  border: 1px solid white;
}
.footer .fheader .fhright .fhrfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 28px;
  background-color: #01A1FF;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin-top: 10px;
}
.footer .ffooter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid white;
}
.footer .ffooter p {
  margin-left: 20px;
}
